


img
{
	height: 120px;
	margin: 12px;
}

.hand
{
	border: none;
	background: none;
}

	.hand img
	{
		height: 75px;
		margin: 6px;
	}

		.hand img:hover
		{
			height: 81px;
			margin: 0px 4px;
		}

#draw-card
{
	margin: 0 0 2em 2em;
}

h1
{
	margin: 1em;
}

h3
{
	margin: 1em;
}

.left
{
	float: left;
	width: 56%;
}

.right
{
	float: right;
	width: 40%;
}

#chatInput
{
	margin-top: 4em;
	width: 80%;
}

.chatMessage
{
	box-shadow: 0px 0px 2px;
	padding: 0.2em;
	margin-bottom: 0.4em;
}

	.chatMessage h3
	{
		font-size: 12px;
		margin: 0px;
		color: steelblue;
	}

#debug-log
{
	box-shadow: 0px 0px 2px;
	padding: 0.4em;
	margin: 3em 0;
}

#debug-log p
{
	margin: 3px;
}

.debug-message
{
	margin-left: 15px;
}

#player-list
{
	font-size: 15px;
	margin-top: 3em;
	width: 60%;
}

	#player-list th:last-child, td:last-child
	{
		text-align: right;
	}

	#player-list tr:first-child
	{
		width: 85%;
	}

#name-entry
{
	box-shadow: 0px 0px 4px;
	width: 50%;
	padding: 2em;
	margin: 4em auto;
	text-align: center;
}

	#name-entry input
	{
		width: 100%;
	}

	#name-entry button
	{
		margin-top: 1em;
		width: 40%;
		
	}

#table-status
{
	min-height: 5em;
}

	










