.card {
	width: 85px;
	height: 110px;
	border: solid;
	border-color: black;
	border-radius: 2em;
	overflow: hidden;
	margin-bottom: 1em;
	box-shadow: 0px 0px 2px;
}

.hand .card:hover {
	box-shadow: 0px 0px 12px;
}

.card-number, .card-icon {
	margin: auto;
	color: white;
	font-size: 3.5em;
	text-shadow: 0px 0px 4px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-icon {
	padding: 0px 5px 0px 10px;
	font-size: 2.25em;
	font-family: 'Icon';
}

#spCard {
	/*background-image: linear-gradient(-35deg, #000099, #ffd800),
		linear-gradient(100deg, #4cff00, #ff0000);*/
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#red {
	background-image: linear-gradient(-52.5deg, RGBA(34,34,34,0.95), RGBA(255,0,0,0.55), RGBA(34,34,34,0.95));
}

#blue {
	background-image: linear-gradient(-52.5deg, RGBA(34,34,34,0.95), RGBA(0,0,255,0.55), RGBA(34,34,34,0.95));
}

#green {
	background-image: linear-gradient(-52.5deg, RGBA(34,34,34,0.95), RGBA(0,128,0,0.55), RGBA(34,34,34,0.95));
}

#yellow {
	background-image: linear-gradient(-52.5deg, RGBA(34,34,34,0.95), RGBA(204,153,0,0.75), RGBA(34,34,34,0.95));
}
